<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        Registered Email Id : 
        <input type="email" id="email"/> 
        <input type="button" onclick="sendResetLink()" value="Send Link"/>
    </form>
    <script>
        function sendResetLink(){
            var email = document.getElementById("email").value;
            console.log(email);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'resetPassword');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
            if(xhr.responseText == 'success'){
                alert("check your email account for reset password Link");
                location.assign('/auth/login')
            }else{
                alert(xhr.responseText);
            }
            };
            xhr.send(JSON.stringify({email}));
        }
    </script>
</body>
</html>